.in-ft.match,
.in-db.match {
  color: green;
}

.in-ft.different {
  color: red;
}

.in-db.missing {
  color: red;
  font-weight: bold;
}
.in-db.different {
  color: red;
}

.in-db a,
.in-ft a {
  color: inherit;
}

.unfeaturized-fields label {
  display: inline;
}

.summaries table[id] {
  display: none;
}
.summaries tr,
.summaries td {
  vertical-align: top;
}
.summaries td + td {
  border-left: solid 1px #ddd;
}
